.button {
  background: $lynch;
  font-size: 1.5em !important;
  padding: 10px 35px 8px;
  border: none;
  margin: 5px 8px 5px 0px;
  border-radius: 2px;
  color: $white;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.primary {
  background: $san-marino;
}
